<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

    <title>{% block title %}Welcome!{% endblock %}</title>

	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes" />

    {% block stylesheets %}{% endblock %}

	<link rel="stylesheet" type="text/css" href="/less/style.css?a1">
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    
</head>

<!--  BODY 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
				</a>

        <!-- <a class="brand" href="#">Politikportal</a> -->
          
        <a href="{{ url('home') }}"><img id="logo" src="/img/politikportal-logo.png" alt="Politikportal" /></a>
        
        <form action="{{ url('search') }}" id="search">
        	<input type="text" id="query" name="q" placeholder="Suchbegriff eingeben ..." />
        	<input type="submit" value="Suchen" class="btn" style="margin-top: 0" />
        </form>

        <!-- <div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">&Uuml;ber uns</a></li>
						<li><a href="#contact">Kontakt</a></li>
          </ul>
        </div> -->
        
      </div>
    </div>
	</div>

	<!-- PAGE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	
	<div id="container" class="container">

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit hide">
			<h1>{% block body %}{% endblock %}</h1>
			<p>{% block description %}{% endblock %}</p>
			<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
		</div>

    <div class="row">
    
    	<div id="welcome" class="span8">
      	<div class="pad">
        	<h1>Der Nachrichtenservice für EU-Profis</h1>
          <p class="info">Abonnieren Sie jetzt <strong>kostenlos</strong> unseren Newsletter und erhalten Sie täglich<br />die wichtigsten Nachrichten aus mehr als 300 Quellen in ihrer Mailbox</p>
					<table>
						<tr>
							<td style="padding-top: 2px;">
								<form style="margin: 0; padding: 0;" action="{{ url('subscribe') }}" method="post">
									<input class="textbox clear-on-focus" type="text" name="email" value="Ihre Emailadresse ..." style="width: 180px;" />&nbsp;&nbsp;<input style="" class='btn btn-success' type="submit" value="Kostenlos abonnieren" />
								</form>
							</td>
							<td style="padding-left: 25px;">
								<p style="clear: both; font-size: 10px; margin: -13px 0 -7px 0; padding: 0; line-height: 12px;">Keine Weitergabe Ihrer Email-Adresse!<br />Abmeldung jederzeit m&ouml;glich.</p>
							</td>
						</tr>
					</table>
          <br /> 		
          <a onClick="hide_welcome()" class="close" style="font-size: 12px; float: none;">&times; Nicht mehr anzeigen</a>
        </div>
      </div>
		
			<div class="features-wrapper span4">
				<div class="features">
					<div><span class="quote"> Eine meiner besten<br />Informationsquellen. </span><span class="author"><strong>Georg Zingerle</strong><br />Amt der Tiroler Landesregierung</span></div>
					<div style="display: none"><span class="quote"> Sehr kompakt, gute Auswahl, allmorgendliche Routine. </span><span class="author"><strong>Richard Kühnel</strong><br />Europäische Kommission</span></div>
					<div style="display: none"><span class="quote"> Für mich erste Pflichtlektüre<br />am Morgen! </span><span class="author"><strong>Bernhard Rapkay</strong><br />Mitglied des Europäischen Parlaments</span></div>
					<div style="display: none"><span class="quote"> Im deutschsprachigen Raum konkurrenzlos. </span><span class="author"><strong>Jost-Henrik Morgenstern</strong><br />Loughborough University</span></div>
					<div style="display: none"><span class="quote"> Ein hervorragender Überblick über die Lage der EU. </span><span class="author"><strong>Wolfgang Böhm</strong><br />Die Presse</span></div>
					<div style="display: none"><span class="quote"> Pflichtlektüre für jeden an Europa Interessierten! </span><span class="author"><strong>Christian Mandl</strong><br />Wirtschaftskammer Österreich</span></div>
					<div style="display: none"><span class="quote"> Hervorragend, um sich einen Überblick zu verschaffen. </span><span class="author"><strong>Dr. Volkmar Hierner</strong><br />Österreichische Vereinigung in Belgien</span></div>
					<div style="display: none"><span class="quote"> Ein tolle Idee - sehr gut und verlässlich durchgeführt. </span><span class="author"><strong>Otmar Höll</strong><br />OIIP</span></div>
					<div style="display: none"><span class="quote"> Very useful. </span><span class="author"><strong>Christophe Leclercq</strong><br />EurActiv.com</span></div>
					<div style="display: none"><span class="quote"> Gut gegliedert und über-<br />sichtlich gestaltet. </span><span class="author"><strong>Iris Marlovits</strong><br />Wirtschaftskammer Österreich</span></div>
					<div style="display: none"><span class="quote"> Meine tägliche Lektüre<br />am Morgen. </span><span class="author"><strong>Martin Ehrenhauser</strong><br />Mitglied des Europäischen Parlaments</span></div>
					<div style="display: none"><span class="quote"> Ihre Zusammenfassung spart mir viel Zeit. </span><span class="author"><strong>Konstanze Petzoldt</strong><br />Studentin</span></div>
					<div style="display: none"><span class="quote"> My daily food on EU issues. </span><span class="author"><strong>Annemie Van Den Dries</strong><br />EU project coordinator</span></div>
					<div style="display: none"><span class="quote"> Für Europa-Interessierte seid ihr das 1 X 1 der Europa-Politik. </span><span class="author"><strong>Wilfried Saust</strong><br />Europa-Union KV Kiel</span></div>
					<div style="display: none"><span class="quote"> Für die tägliche Arbeit eine hervorragende Unterstützung. </span><span class="author"><strong>Phillip Hartig</strong><br />ÖVP-Parlamentsklub</span></div>
					<div style="display: none"><span class="quote"> Ein hervorragender Überblick über die Lage der EU. </span><span class="author"><strong>Wolfgang Böhm</strong><br />Die Presse</span></div>
					<div style="display: none"><span class="quote"> Die Inhalte werden in der Printpresse nicht so ausführlich dargestellt. </span><span class="author"><strong>Dieter Pitthan</strong><br />privat</span></div>
					<div style="display: none"><span class="quote"> Sehr hilfreich, und wichtiger Bestandteil meiner täglichen Arbeit. </span><span class="author"><strong>Anna Meusburger</strong><br />Europäisches Parlament</span></div>
					<div style="display: none"><span class="quote"> Eine hervorragende<br />Info-Quelle. </span><span class="author"><strong>Friedhelm Frischenschlager</strong><br />Europäische Föderalistische Bewegung</span></div>
					<div style="display: none"><span class="quote"> Für mich eine tägliche<br />MUSS-Lektüre. </span><span class="author"><strong>Karl G. Doutlik</strong><br />ehem. Europäische Kommission</span></div>
					<div style="display: none"><span class="quote"> Sehr informativ. Gute Auswahl. Immer von besonderer Aktualität. </span><span class="author"><strong>Heinrich Neisser</strong><br />Universität Innsbruck</span></div>
				</div>
			</div>
			
		</div>
    
    <!--  MAIN 
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="row">

			<div id="main" class="span8">
			   	{% block main %}{% endblock %}
      </div>


    	<!--  RIGHT 
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

      <div id="right" class="span4">
      
      	<div id="intro" class="box shadow gradient pad">
      		<h3>Newsletter abonnieren</h3>
      			<form method="post" action="{{ url('subscribe') }}" style="margin: 7px 0 0 0; padding: 0;">
							<input class="textbox clear-on-focus" type="text" style="width: 160px" value="Ihre Emailadresse ..." name="email" />&nbsp;&nbsp;
							<input class="btn btn-success" type="submit" value="Abonnieren" />
						</form>
						<p style="clear: both; font-size: 10px; line-height: 12px; margin: 5px 0 5px 0; padding: 0;">
							Keine Weitergabe Ihrer Email-Adresse!<br />
							Abmeldung jederzeit möglich.
						</p>
				</div>

				<!--  PARTNERS
			  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			  {% if partners is defined %}
					{% include 'PolitikportalBundle:Default:partneritem.html.twig' with partners %}
				{% endif %}
				
				<div class="box ad">
					<div class="content">
						<script type="text/javascript"><!--
							google_ad_client = "ca-pub-6709520427755264";
							/* Medium Box */
							google_ad_slot = "4924113308";
							google_ad_width = 300;
							google_ad_height = 250;
							//-->
						</script>
						
						<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
						</div>
				</div>
				
				<div class="box">
					<div class="title">Version</div>
					<div class="content">{% block sidebar %}{% endblock %}</div>
				</div>
			
      </div>
      
    </div>

		<!-- FOOTER
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			
    <footer>
    	<div class="partner">
    		<strong>Kooperationspartner</strong><br /><br />
    		<a href="http://www.wko.at/eu"><img src="/img/logos/wkoe-296.png" alt="Wirtschaftskammer Österreich" style="width: 222px" /></a>
    	</div>
    	<div class="credits">
      	<p style="float: right;">&copy; Konzeption und Entwicklung 2006-2009 by <a href="http://www.stefanhapper.com">Stefan Happer</a></p>
    		<p>Politikportal.eu ist ein Angebot des Vereins Europapolitik Online, 1160 Wien | <a href="{{ url('impressum') }}">Impressum und rechtliche Hinweise</a></p>
    	</div>
    </footer>

  </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	
		
	<!-- scripts concatenated and minified via ant build script -->
	
	<script src="/js/libs/bootstrap/transition.js"></script>
	<script src="/js/libs/bootstrap/collapse.js"></script>
	<script src="/js/libs/bootstrap/dropdown.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/script.js"></script>
	
	{% block javascripts %}{% endblock %}
	
	<!-- end scripts-->
	
	<script>
	
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	
	</script>
		
	<!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
	for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
	//mixpanel.init("41bf4116913b2984626f2618e795aaaf");
	//mixpanel.track('it worked');
	</script><!-- end Mixpanel -->

</body>
</html>
