<div class="item">
	<a class="newstitle size-{{ item.rank}}" href="/news/192609/" target="_blank">
		<strong>{{ item.rssTitle }}</strong>
		<div class="sourcelink"><span class="source">{{ item.sourceName }}</span>, {{ item.tspubDate|date("j.n.Y") }}</div>
		<div class="description">{{ item.description }}</div>
	</a>
</div>