{% extends '::base.html.twig' %}

{% block body %}
     All sources, page {{ page }}
{% endblock %}
 

{% block description %}
	Showing all sources of Politikportal
{% endblock %}


{% block main %}

	<div class="btn-group">
	
	  {% for page in pages %}
		
		<a class="btn btn-mini{% if page.current %} btn-primary{% endif %}{% if page.disabled %} disabled{% endif %}" href="/sources/{{ page.number }}">{{ page.number }}</a>
				
	  {% else %}
		
		No paging.
		
	  {% endfor %}
		
	</div>

	<table class="table table-bordered">

		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Language</th>
				<th>Type</th>
			</tr>
		</thead>
		
	  {% for source in sources %}
	  
		<tr>
			<td><strong>{{ source.name }}</strong></td>
			<td>{{ source.status }}</td>	
			<td>{{ source.lang }}</td>	
			<td>{{ source.type }}</td>	
		</tr>
	
	  {% else %}
      	
      	<tr>
      		<td colspan="2">No sources found</td>

		</tr>
		    
      {% endfor %}
    
	  	
	</table>
	
	<div class="btn-group">
	
	  {% for page in pages %}
		
		<a class="btn btn-mini{% if page.current %} btn-primary{% endif %}{% if page.disabled %} disabled{% endif %}" href="/sources/{{ page.number }}">{{ page.number }}</a>
				
	  {% else %}
		
		No paging.
		
	  {% endfor %}
		
	</div>
    
{% endblock %}