{% extends '::base.html.twig' %}

{% block body %}
     All sources, page {{ page }}
{% endblock %}
 

{% block description %}
	Showing all sources of Politikportal
{% endblock %}


{% block main %}

	<table class="table table-bordered">

		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Language</th>
				<th>Type</th>
			</tr>
		</thead>
		
	  {% for source in sources %}
	  
		<tr>
			<td><strong>{{ source.name }}</strong></td>
			<td>{{ source.status }}</td>	
			<td>{{ source.lang }}</td>	
			<td>{{ source.type }}</td>	
		</tr>
	
	  {% else %}
      	
      	<tr>
      		<td colspan="2">No sources found</td>

		</tr>
		    
      {% endfor %}
    
	  	
	</table>
    
{% endblock %}